@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}


<!--=== Cube-Portfdlio ===-->
    <div class="cube-portfolio container">
        <div class="content-xs">
            <div class="custom-filters-container cbp-l-filters-text content-xs">
                <div data-filter="" class="cbp-filter-item-active cbp-filter-item"> Wszystko </div> |
                <div data-filter=".Kultura" class="cbp-filter-item"> Kultura </div> |
                <div data-filter=".Rekreacja" class="cbp-filter-item"> Rekreacja </div> |
                <div data-filter=".Atrakcje" class="cbp-filter-item"> Atrakcje </div> |
                <div data-filter=".Wydarzenia" class="cbp-filter-item"> Wydarzenia </div>
            </div><!--/end Filters Container-->
        </div>

        <div class="custom-filter-items">
			@{
				var selection = @CurrentPage.Children;
			}
			@foreach(var item in selection)
			{
			    <div class="custom-filter-item @(item.Kategoria)">
                    <div class="row margin-bottom-20">
                        <div class="col-sm-5 sm-margin-bottom-20">
                            <img class="img-responsive" src="@Url.Content(Umbraco.Media(item.Zdjecie).Url)" alt="">
                        </div>
                        <div class="col-sm-7">
                            <div class="news-v3">
                                <h2>@item.Name</h2>
                                <p>@item.Opis</p>
                            </div>
                        </div>
                    </div>
			    </div>
			}
        </div><!--/end Grid Container-->
        <div class="margin-bottom-100"></div>
    </div>
    <!--=== End Cube-Portfdlio ===-->